body {
    background-color: #eeeeee;
    font-family: "Cambria", Helvetica, Arial, sans-serif;
}

.block {
    background-color: white;
    float: left;
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: solid black 2px;
    margin: 1px;
}

.holder {
    width: 306px;
}

.filled {
    cursor: default;
}

.highlight {
    background-color: #add8e6;
}

.float-clear {
    clear: both;
}

.code {
    text-align: left;
    height: 600px;
    width: 100%;
    margin-top: 5px;
}

.code#editor-code {
    height: 551px;
}

.code.snippet {
    height: 18px;
}
